# The title of your game
GAMBA_GAME_TITLE=

# The address which will collect fees on bets made on your game.
# Note: If you are using a brand new Solana address, make sure you initialize it by sending some SOL to it (~0.001 SOL should be enough).
GAMBA_CREATOR_ADDRESS=

# Solana RPC HTTP endpoint
GAMBA_SOLANA_RPC=

# Solana RPC websocket endpoint
GAMBA_SOLANA_RPC_WS=
